.dropzone {
  text-align: center;
  padding: 30px;
  border: 3px dashed #eeeeee;
  background-color: #fafafa;
  color: #bdbdbd;
  cursor: pointer;
  margin-bottom: 20px;
}

.selected-file-wrapper {
  text-align: center;
}

.selected-file {
  color: #000;
  font-weight: bold;
}

.action {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
  width: 470px;
  column-gap: 10px;
}

.floating-btn {
  position: relative;
  bottom: 35px;        /* Distance from the bottom of the container */
  left: 300px;         /* Distance from the right of the container */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
